// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes
.through {
    text-decoration: line-through;
}
.antena {
  background-image: url('../images/logo_logo.png')
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-position-y: 95%;
    background-size: 10%;
    zoom: 1;
}

.ignite-parent {
    clear: both;
    padding: 0px;
    margin: 0px;
    width:100%;
    float:left;
    display:table;
}
.parent:before, .parent:after {
    content: "";
    display: clear;
}
.ignite-bar {
    width:40%;
    text-align: left;
    display:inline
}
.timer-bar {
    text-align: right;
    display: inline;
    float: left;
 }
