doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title bafrontend-lightningTalk

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
    article

      section
        h1 So, The Front Is the New Back :)
        h3 Lucas Rudi
        p <a href="https://www.twitter.com/ThePiedraStone">@ThePiedraStone</a>

      section
        h3 What this actually means...
        img(src='./images/gonto.jpg')

      section
        h3 Sure
        img(src='./images/okay_chuck.gif')

      section
        h2 When the backend was rendering UI
        img(src='./images/fixit.jpg')

      section
        h2 How we mature
        img(src='./images/grampsguitarhero.jpg')

      section
        h2 the dark side of the moon
        ul But what about?
          li scheduling
          li monitoring
          li multi-client-token
          li acid transactions
          li rolling back
          li syncronous messages

      section
        h2 Prefetching
        img(src='./images/prefectch.png')

      section
        h2 Preloading
        img(src='./images/preload.png')
        //TODO ADD gif for experience on
        p http://butdoesitfloat.com/

      section
        h2 Prerendering

      section
        h2 Socket offline
        //TODO PICTURE OF A VERY BAD REACTION 

      section
        h2 Security
        p XSS and CSRF
        p rotating token

      section
        h2 Content versioned

      section
        h3 more documentation
        //TODO p gitlink

      section
        h2 Thanks

    script(src='build/build.js')
