doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title bafrontend-lightningTalk

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
    article

      section
        h1 So, The Front Is the New Back :)
        h3 Lucas Rudi
        p <a href="https://www.twitter.com/ThePiedraStone">@ThePiedraStone</a>

      section
        h3 Sure
        img(src='./images/gonto.jpg')

      section
        h3 Sure
        img(src='./images/okay_chuck.gif')

      section
        h2 When the backend was rendering UI
        img(src='./images/fixit.jpg')

      section
        h2 How we mature

      section
        h2 But what about?
        p scheduling, monitoring, multi-client-token, acid transactions, rolling back, syncronous messages,

      section
        h2 Prefetching
        p SPA

      section
        h2 Preloading
        p SPA

      section
        h2 Prerendering
        p https://github.com/prerender/prerender
        p http://www.html5rocks.com/en/tutorials/pagevisibility/intro/?redirect_from_locale=es
        p http://www.w3.org/TR/page-visibility/#pv-visibility-state
        p http://caniuse.com/#feat=pagevisibility

      section
        h2 Socket offline
        p https://web.stanford.edu/~boyd/papers/gossip.html
        p http://www.inf.u-szeged.hu/~jelasity/cikkek/sigops07.pdf
        p http://en.wikipedia.org/wiki/Ant_colony_optimization_algorithms

      section
        h2 Security
        p XSS and CSRF
        p rotating token

      section
        h2 Content versioned

      section
        h2 Thanks

    script(src='build/build.js')
