doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title bafrontend-lightningTalk

    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article


      section
        h1 So, The Front Is the New Back :)
        h3 Lucas Rudi
        img(src='./images/twitter.png')
        p <a href="https://www.twitter.com/ThePiedraStone">@ThePiedraStone</a>

      section
        h3 about.me
        h3.through frontend developer
        h3 [backend] developer

      section
        h3 Once upon a time ...
        img(src='./images/gonto.jpg')

      section
        h3 YEAH
        img(src='./images/okay_chuck.gif')

      section
        h3 Sure?
        p https://webtask.io/docs/issue_parameters
        img(src='./images/secrets.png')

      section
        h2 the dark side of the moon
          li scheduling
          li monitoring
          li multi-client-token
          li acid transactions
          li rolling back
          li syncronous messages

      section
        h2 When the backend was rendering UI
        img(src='./images/fixit.jpg')

      section
        h2 How we mature
        img(src='./images/grampsguitarhero.jpg')

      section
        h2 Doing the right things right
        img(src='./images/a-new-hope.jpg')

      section
        h2 Prefetching
        img(src='./images/prefetch.png')

        p https://developer.mozilla.org/en-US/docs/Web/HTTP/Link_prefetching_FAQ

      section
        h2 Preloading
        img(src='./images/preload.png')
        //TODO ADD gif for experience on

        span http://butdoesitfloat.com/

      section
        h2 Prerendering
        img(src='./images/prerendering-tag.png')
        img(src='./images/prerendering.jpg')

      section
        img(src='./images/Under_construction.jpg')

      section
        h2 Socket offline
        img(src='./images/offline.jpg')

      section
        h2 Content versioned
        img(src='./images/CDN.png')

      section
        h2 Security
        p XSS and CSRF
        p refreshing tokens
        img(src='./images/token.jpg')

      section
        h3 more documentation
        p https://github.com/lucasrudi/frontend-talk

      section
        h3 about the format of the presentation
        img(src='./images/ignite_logo.jpg')

      section
        h2 QA ?
        img(src='./images/ba-frontend.jpeg')
        h2 Thanks

    script(src='build/build.js')
